@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f1f1f1;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
h1 {
    color: #1a2f42;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px gray dashed;
}
h1 span:first-child {
    color:tomato;
    font-weight: normal;
}
h1 span {
    display: block;
}
.card-container {
    display: grid;
    grid-template-columns : repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 80px 0;
}
.card-wrapper {
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: center;
}
.card-wrapper:hover .card {
    transform: rotateY(180deg);
}
.card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    color: white;
    font-weight: bold;
    transition: transform 1s cubic-bezier(0.86,0,0.07,1);
}
.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-front {
    background-color: #ed5d34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-wrapper:nth-child(even) .card-front {
    background-color: #1a2f42;
}
.card-front p{
    font-size: 25px;
    line-height: 35px;
}
.arrow-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#card-price {
    font-size: 2em;
}
.card-back {
    background: #ed5d34;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-wrapper:nth-child(even) .card-back {
    background-color: #1a2f42;
}
.card-back a {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    transition: .3s ease-out, color .3s ease-out;
}
.card-wrapper:nth-child(even) .card-back a:hover {
    background-color: #ed5d34;
    color: #fff;
}
.card-wrapper:nth-child(odd) .card-back a:hover {
    background-color: #1a2f42;
    color: #fff;
}
